@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

body{
    background: #ed506fd1;
}


.container{
    /*border: 1px solid black;*/

    width: 90%;
    height:100vh;
    display: flex;
    text-align: center;
    
}


.quotes{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    height: 100vh;
  }
  
  .inner-quotes-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 900px;
    height: 450px;
    text-align: center;
    border:10px;
    padding: 0 25px;
    color: gray;
    
    background-color: #F4EDEA;
    border: 10px solid #3fc8da;
    box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.9); 
  }


  .quotes p{
    font-size: 1.5rem;
    color: black;
  }
  .inner-quotes-container h3{
    font-size: 2rem;
    color: black;
    font-family: 'Dancing Script', cursive;
  }

@media(max-width:480px){
    .quotes p,.quotes h3{
        font-size: 1rem;
    }
}
